!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Testdevise
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  = render "shared/menu_admin"
  .container
    .row
      .col-lg-12
        = bootstrap_flash
        = yield
      %footer
        %p admin; Company 2015
    = javascript_include_tag :defaults, "nested_form"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true